* {
  font-family: 'Jua', sans-serif;
}

.line_1 {
  display: flex;
  justify-content: center;
  background-color: #FFE4E1;
  border-radius: 20px;
}

.aacBox {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 12px;
  padding-bottom: 20px;
  margin: auto;
  
}

.aacBox_content {
  /* border: solid 1px red; */
  height: 140px;
  margin: auto;
  cursor: pointer;
  padding: 10px;
  position: relative;
}

.text {
  font-size: 23px;
  opacity: 1;
  padding: 7px;
  margin: 0px;
  position: absolute;
  top: 10%;
  left:25%;
  background-color: blanchedalmond;
}

.content_img {
  opacity: 0;
  width:  130px;
  height: 130px;
}

.navbar {
  margin: 20px;
  padding: 15px;
  background-color: whitesmoke
  align-items: center;
  text-align: center;
}

.nav_btn {
  width: 150px;
  margin: 30px;
  margin-bottom: 0px;
  font-size: 20px;
  padding: 4px;
  border-radius: 20px;
  background-color: bisque;
  border: none;
}

.nav_btn:hover{
  color: white;
  background-color: crimson;
}


.footer {
  display: block;
  text-align: center;
  margin-top: 20px;
}

.nav_hader {
  font-size: 40px;
}

.mail {
  text-decoration: none;
  color: black;
}
.mail:hover{
  color: crimson;
}